<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MountainGear Suite">

	<listeners>
		<listener class-name="Listener.TestListener" />
	</listeners>

	<test name="VerifyTitle">
		<classes>
			<class name="MountainGearTests.Title"></class>
		</classes>
	</test>

	<test name="Login">
		<parameter name="emailId"
			value="phaneendraphani20@gmail.com" />
		<parameter name="password" value="Phaneendra@15" />
		<classes>
			<class name="MountainGearTests.Login"></class>
		</classes>
	</test>

	<test name="LogOut">
		<classes>
			<class name="MountainGearTests.Logout"></class>
		</classes>
	</test>

</suite>
